@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800;900&display=swap');

*{
     font-family: 'Work Sans', sans-serif;    
}
body{
     margin: 0;
     padding: 0;
}
header{
     background: rgba(255, 144, 14, 0.10);
     padding: 0px 150px;

}

.navbar{
     display: flex;
     justify-content: space-between;
     align-items: center;
}

.navbar >ul{
     display: flex;
     list-style: none;
}
.navbar li{
     margin-left: 30px;
     
}
.navbar a:hover{
    border-bottom: 2px solid #424242;
}
.navbar a{
     text-decoration: none;
     color: #424242;
     font-size: 1.2rem;
     font-weight: 500;
    

}

.navbar h1{
     color: #131313;
     font-size: 2rem;
     font-weight: 700;
     }

 .banner-content{
     text-align: center;
     margin: 0 auto;
 } 
 .banner-content h1{
     color: #131313;
     font-size: 4rem;
     font-weight: 700;

 }
 .banner-content p{
     color: #727272;
     margin-bottom: 30px;
     

 }
 .btn-primery{
     background-color:#FF900E ;
     color: white;
     padding: 20px 25px;
     font-size: 1.25rem;
     font-weight: 600;
     border: 0;
     border-radius: 8px;
     margin-bottom: 50px;
     cursor: pointer;

 }
 .btn-primery:hover{
    background-color: #ffffff;
    box-shadow: 0px 2px 10px 0px #ff8f0e5d;
    color: #FF900E;
 }
 .banner-photo{
     width: 100%;
     margin-bottom: 2.8rem;
 } 
 
 main{
     margin:50px 145px;
 }

 .team-container{
     display: flex;
     align-items: center;
     
 }
 .team-img-container{
     display: grid;
     grid-template-columns: repeat(2,1fr);
     gap: 24px;
 }
 .team-img-container img{
     width: 240px;
     height: 240px;
 }

 .team-content{
    margin-left: 40px;
 }
 .team-content, .team-tittle{
     font-size: 2.8rem;
     font-weight: 700;
     margin-bottom: 20px;
 }

 .quick-list{
     color: #727272;
     font-weight: 500;
 }
 .text-furture{
     color: #FF900E;
     font-weight: 700;
 }


 .team-conten, .team-description{
     color: #727272;
     font-size: 1rem;
     font-weight: 400;

 }

 /* -----------------------------Feature section----------------------- */

 .feature-container{
    display: flex;
    margin-top: 130px;
    margin-bottom: 30px;
    gap: 100px;
    width: 100%;
 }
 .feature-content {
    width: 50%;
 }
 .feature-content h1{
    color:  #131313;
    font-size: 3rem;
    font-weight: 700;
    border-left: 4px solid #FF900E;
    padding-left: 10px;
 }
 .feature-card{
    padding: 5px 10px;
    margin-bottom: 20px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.247);
 }

 .feature-card h3{
    color:#131313;
    font-size:1rem;
    font-weight: 600;
    margin-bottom: 1px;

 }
 .feature-card p{
    font-size: 14px;
 }

 .architect-photo{
    width: 100%;
    
 }
 .experience-card{
    width: 40%;
    padding: 10px 50px;
    text-align: center;
    border-radius: 8px;
    background: #FF900E;
    color: #FFF;
    position: relative;
    top: -80px;
    right: 80px;

 }
 .experience-card h1{
    font-size: 3rem;
    font-weight: 700;
    line-height: 70px;
    margin-bottom: 0px;
 }
 /* ------------------Fact section--------------- */

.facts-card-content{
    display: flex;
    justify-content: space-evenly;
    margin-top: 80px;
    text-align: center;
    
}
.facts-card{
    border: 1px solid #FF900E;
    width: 150px;
    height: 150px;
    padding: 30px;
    border-radius: 5px;
}
.facts-card h1{
    color: #424242;
    font-size: 40px;
    font-weight: 600; 
    margin: 10px 0px;
}
.facts-card p{
    color:#727272;
    font-size: 1.1rem;
    font-weight: 600;
    margin: 0px;
}
 .fact-tittle{
    color:  #131313;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 24px;
 }
 /* <--------------------Sponspor section-----------------> */

 .sponsor-container{
    text-align: center;
    margin-top: 150px;
 }
 .sponsor-logo-content{
    display: flex;
    justify-content: space-between;
    margin-top:50px ;
 }

/* ----------------------------- footer---------------- */
footer h3{
    background-color: hsl(33, 76%, 92%);
    padding: 30px 200px;
    text-align: center;
    margin: 130px 100px;
    color:  #5f5d5d;
    font-size: 1.2rem;
    font-weight: 400;
}
 /* ------------------------responsive section--------------- */

 /* mobail device  */

 @media screen and (max-width:576px) {
     header{
          padding: 20px;
     }
     .navbar{
          flex-direction: column;
     }

     .banner-content h1{
          color: #131313;
          font-size: 2rem;
          font-weight: 700;
     
      }
      .btn-primery{
          padding: 10px 15px;
          font-size: 15px;
      }
      .banner-photo{
          
          margin-bottom:10px;
      } 

      /* team-section */
      .team-container{
          flex-direction: column;
      }
      main{
          margin: 10px 50px;
      }
      .team-img-container img{
          width: 140px;
          height: 140px;
      }
/* -----------------------------Feature section----------------------- */
.feature-container{
    flex-direction: column-reverse;
    gap: 20px;
    margin-top: 20px;
}
.experience-card{
    left: 20%;
    

 }
 .feature-content {
    width: 100%;
 }
/* ---------------------facts section ------------- */

 .facts-card-content{
    flex-direction: column;
    margin-left: 70px;
    row-gap: 15px;
    

 }
 .facts-container p{
    font-size: 0.8rem;
    
 }
 /* ---------------------sponsore section------------- */
 .sponsor-logo-content{
    flex-direction: column;
    gap: 3rem;
    
   
 }
 .sponsor-container p{
    font-size: 0.8rem;
 }

  /* ---------------------footer section------------- */

  footer h3{
    padding: 15px 20px;
    margin: 80px 20px;
    font-size: 0.8rem;
}
}

 /* tablet medium */
 @media screen and (min-width:576px) and (max-width:960px) {
     .navbar{
          width: 800px;
          margin: 0 auto;
     }   
     header{
          padding: 50px;
     }
     .banner-content h1{
          color: #131313;
          font-size: 3rem;
          font-weight: 700;
     
      }
      .banner-photo{
          
          margin-bottom:10px;
      } 

       /* team-section */
       main{
          margin: 30px 100px;
      }
       .team-img-container img{
          width: 150px;
          height: 150px;
      }

      /* -----------------------------Feature section----------------------- */

      .feature-container{
        flex-direction: column-reverse;
        gap: 20px;
        margin-top: 20px;
    }
    .experience-card{
        left:20%;
        
    
     }
     .feature-content {
        width: 100%;
     }
     /* ---------------------facts section ------------- */

 .facts-card-content{
    gap: 20px;
    

 }
 
     /* ---------------------sponsore section------------- */
 .sponsor-logo-content{
    display: grid;
    gap: 3rem;
    grid-template-columns: repeat(2,1fr); 
   
 }

  /* ---------------------footer section------------- */

  footer h3{
    padding: 15px 50px;
    margin: 80px 80px;
    font-size: 1rem;
}
 }